<h1>New Cancha</h1>

#<%= render 'form', cancha: @cancha %>

#<%= link_to 'Back', canchas_path %>

<% form_with(model: @cancha, method: :post) do |form| %>

    <div>
        <%= form.label :Tipo %>
        <% form.text_field :tipo %>
    </div> 

    <div>
        <%= form.label :Aforo %>
        <% form.text_field :aforo %>
    </div> 


    <div>
        <% form.submit 'Create Cancha' %>
    </div> 


<% end %>

